Repository opentx/opentx, pull requests merged in 2018-07, with the labels that each got.

#6011 Updated French translation
  companion/src/translations/companion_fr.ts
Labels: Companion

#6010 Prevent leftover network handles/threads after update checks.
  companion/src/mainwindow.cpp
  companion/src/releasenotesfirmwaredialog.cpp
Labels: Bug, Companion

#6009 SD Sync "version 3"
  companion/src/CMakeLists.txt
  companion/src/dialogs/filesyncdialog.cpp
  companion/src/dialogs/filesyncdialog.h
  companion/src/mainwindow.cpp
  companion/src/process_sync.cpp
  companion/src/process_sync.h
  companion/src/progresswidget.cpp
  companion/src/progresswidget.h
  companion/src/progresswidget.ui
  companion/src/shared/CMakeLists.txt
  companion/src/shared/autobitsetcheckbox.h
  companion/src/shared/autocombobox.h
  companion/src/shared/autolineedit.h
Labels: Companion, enhancement

#6006 Refactor Companion settings system
  companion/src/apppreferencesdialog.cpp
  companion/src/apppreferencesdialog.h
  companion/src/companion.cpp
  companion/src/constants.h
  companion/src/fwpreferencesdialog.cpp
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/macros.h
  companion/src/mainwindow.cpp
  companion/src/mainwindow.h
  companion/src/mdichild.cpp
  companion/src/simulation/simulator.h
  companion/src/simulator.cpp
  companion/src/storage/CMakeLists.txt
  companion/src/storage/appdata.cpp
  companion/src/storage/appdata.h
  companion/src/version.h.in
Labels: Companion

#6020 Add start/pause/RSSI-disable options to Telemetry Simulator
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.h
  companion/src/simulation/telemetrysimu.ui
  companion/src/storage/appdata.h
Labels: Simulator
