Repository opentx/opentx, pull requests merged in 2018-06, with the labels that each got.

#5942 Fix some issues with Inputs editor
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/modeledit/inputs.cpp
  companion/src/modeledit/inputs.h
Labels: Companion

#5937 [Companion] Log viewer Google Earth fixes
  companion/src/logsdialog.cpp
  companion/src/logsdialog.h
Labels: Companion

#5936 Fix remaining model editor sync issues with RawSource changes.
  companion/src/modeledit/customfunctions.cpp
  companion/src/modeledit/customfunctions.h
  companion/src/modeledit/heli.cpp
  companion/src/modeledit/heli.h
Labels: Companion

#5939 Allow alternate locations for OpenSSL DLLs to be included with CPN installation
  companion/src/CMakeLists.txt
  companion/targets/windows/companion-vs.nsi.in
Labels: Build, Companion, OpSys-Windows

#5941 Fr Translation
  companion/src/translations/companion_fr.ts
Labels: Companion

#5948 Updated French Translation
  companion/src/translations/companion_fr.ts
Labels: Companion

#5957 Fix disappearing mixer lines after an invalid line is removed.
  companion/src/modeledit/mixes.cpp
  companion/src/modeledit/mixes.h
Labels: Bug, Companion

#5955 Updated French Translation
  companion/src/translations/companion_fr.ts
Labels: Companion

#5967 Updated French translation
  companion/src/translations/companion_fr.ts
Labels: Companion

#5970 [Companion] Fix RF Output Power setting getting reset to default on every update
  companion/src/modeledit/setup.cpp
Labels: Bug, Companion

#5991 Fr Translation update
  companion/src/translations/companion_fr.ts
Labels: Companion

#6000 Companion custom functions sound playback fixes
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/modeledit/customfunctions.cpp
  companion/src/modeledit/customfunctions.h
Labels: Bug, Companion

#5949 Refactor Companion Windows install and installer targets
  companion/src/CMakeLists.txt
  companion/src/companion.qrc
  companion/src/icon.ico
  companion/src/icon.rc
  companion/src/images/icon.png
  companion/src/images/winicons/icon.rc
  companion/src/images/winicons/opentx.ico
  companion/src/images/winicons/opentx_128.ico
  companion/src/images/winicons/opentx_16.ico
  companion/src/images/winicons/opentx_20.ico
  companion/src/images/winicons/opentx_24.ico
  companion/src/images/winicons/opentx_256.ico
  companion/src/images/winicons/opentx_30.ico
  companion/src/images/winicons/opentx_32.ico
  companion/src/images/winicons/opentx_36.ico
  companion/src/images/winicons/opentx_40.ico
  companion/src/images/winicons/opentx_48.ico
  companion/src/images/winicons/opentx_60.ico
  companion/src/images/winicons/opentx_64.ico
  companion/src/images/winicons/opentx_72.ico
  companion/src/images/winicons/opentx_80.ico
  companion/src/images/winicons/opentx_96.ico
  companion/targets/windows/companion-msys.nsi.in
  companion/targets/windows/companion.nsi.in
  companion/targets/windows/simulator-msys.nsi.in
  companion/targets/windows/simulator-vs.nsi.in
Labels: Build, Companion, OpSys-Windows
