Repository opentx/opentx, pull requests merged in 2018-05, with the labels that each got.

#5863 Fix x10 radio.bin discrepency between companion generated and radio
  companion/src/firmwares/opentx/opentxeeprom.cpp
Labels: Bug, Companion

#5869 Future R9MEU firmware preparation
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/480x272/model_setup.cpp
  radio/src/gui/gui_common.h
  radio/src/pulses/pulses_arm.h
  radio/src/pulses/pxx_arm.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
Labels: Radio Firmware, enhancement

#5886 Updated French translation
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/translations/companion_fr.ts
Labels: Companion

#5892 DE Translation
  companion/src/translations/companion_de.ts
Labels: Companion

#5906 Fr translation update
  companion/src/translations/companion_fr.ts
Labels: Companion
