Repository opentx/opentx, pull requests merged in 2018-10, with the labels that each got.

#6160 Refactor simu startup and shutdown handling (for 2.3 branch):
  radio/src/definitions.h
  radio/src/gui/common/colorlcd/widgets.cpp
  radio/src/io/bootloader_flash.cpp
  radio/src/io/frsky_sport.cpp
  radio/src/keys.cpp
  radio/src/opentx.cpp
  radio/src/rtos.h
  radio/src/storage/eeprom_raw.cpp
  radio/src/storage/eeprom_rlc.cpp
  radio/src/targets/simu/opentxsimulator.cpp
  radio/src/targets/simu/simpgmspace.cpp
  radio/src/targets/simu/simpgmspace.h
  radio/src/tasks_arm.cpp
Labels: Bug, Radio Firmware, Simulator

#6180 Companion AVR removal - stage 1.
  companion/src/apppreferencesdialog.cpp
  companion/src/apppreferencesdialog.h
  companion/src/apppreferencesdialog.ui
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/eeprominterface.cpp
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/firmwares/rawswitch.cpp
  companion/src/macros.h
  companion/src/mainwindow.cpp
  companion/src/mainwindow.h
  companion/src/simulation/simulatorwidget.cpp
  companion/src/warnings.h
Labels: Companion, DNS

#6158 Allow power-off while model checklist is displayed during startup.
  radio/src/gui/480x272/menus.cpp
  radio/src/gui/common/stdlcd/view_text.cpp
Labels: Radio Firmware

#6220 LUA : Add curves to inputs
  radio/src/lua/api_model.cpp
Labels: Lua, enhancement
