Repository opentx/opentx, pull requests merged in 2022-01, with the labels that each got.

#8800 SD Sync set the local folder to match that set in the profile
  companion/src/mainwindow.cpp
  companion/src/process_sync.h
Labels: enhancement, Companion

#8427 Bluetooth trainer byte parsing: catch XOR state errors
  radio/src/bluetooth.cpp
Labels: stale

#8851 Companion recover memory on model edit dialog close
  companion/src/modeledit/modeledit.cpp
Labels: Performance, Companion
